<html>
<head>
<title>Test Admin Page for Healthfin Rest Api</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<!--<script>
$(document).ready(function(){
	var email,pass;
	$("#submit").click(function(){
		email=$("#email").val();
		pass=$("#password").val();
		/*
		* Perform some validation here.
		*/
		$.post("http://localhost:3000/login",{email:email,pass:pass},function(data){		
			if(data==='done')			
			{
				window.location.href="/admin";
			}
		});
	});
});
</script>-->
</head>
<body>
    <h1>Welcome to Dashboard</h1>
    
    <a href='banks'>test page</a><br><br>
    
    <a href="/logout">Logout</a>
</body>
</html>
