<html>
    <head>
        <title>Test Login Page for Healthfin Rest Api</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
        <script>
            $(document).ready(function () {
                var username, password;
                var obj = {};
                $("#submit").click(function () {
                    username = $("#username").val();
                    password = $("#password").val();
                    /*
                     * Perform some validation here.
                     */
                    $.post("http://localhost:3000/logins/employee", {username: username, password: password}, function (data) {
                        if (data.success === true)
                        {
                            alert(data.message);
//                            window.location.href = "/admin";
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <input type="text" size="40" placeholder="Type your email" id="username"><br />
        <input type="password" size="40" placeholder="Type your password" id="password"><br />
        <input type="button" value="Submit" id="submit">
    </body>
</html>
